@{
    Layout = "_LayoutAccountWelcome1";
}
@* <link href="~/css/webSetup.css" rel="stylesheet" /> *@
@model CompanyAccount
<style>
    .flex-items-start {
        align-items: flex-start !important;
    }

    .h-6, h6 {
        font-size: 16px;
        line-height: 24px;
    }

    .gwb_1RbKo {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: 0.02rem;
        color: #525257;
        margin-bottom: 0;
        margin-top: 0;
    }

    .hide {
        display: none
    }
</style>

<main class="layout-main">
    <article id="main-content" class="app-module__mainContent___vq83C" tabindex="-1">
    <div class="layout-main-simple text-center">
        <div class="layout-main-simple-header mb-4">
            <div class="fa-4x">🌷</div>
            <h1 class="page-title mt-4">Your customized setup experience is ready</h1>
        </div>
    <p class="text-large">Now, we’ll ask you for more details about your company, team, and taxes.</p>
    <div class="form-actions ajax-spinner formActions-module__spinner___12v5R">
        <a class="btn btn-lg btn-primary mt-3" asp-action="SetupCompany" asp-route-id="@Model.Id">Let’s go</a>
        <div class="spinner display-none" style="display: none;"><img src="https://d3bnlkto289wdc.cloudfront.net/assets/packs/media/images/loader-spinner-e1422883.gif" alt="Loading. Please Wait."><span class="inline-block ml-2">Please wait…</span></div>
        </div>
    </div>
    </article>
    </main>
