@* <div class="flex flex-justify-center flex-items-center padding-bottom-50px padding-top-50px pt-3 pb-3 d-flex d-flex-center"> *@
<div class="d-flex pt-4 pb-4" style="align-items: center!important;justify-content: center!important;">
    <span class="fa-3x zp-icon-image medium">🔍</span>
    @* <img
        class="zp-icon-image medium"
        src="https://d3bnlkto289wdc.cloudfront.net/assets/packs/media/illustrations/illo-magnifyingglass-306c9bfc.svg"
        alt="Magnifying Glass Image">  *@
    <span class="c-salt-900 text-muted ml-2">No activities match the filter.</span>
</div>
