@model List<PayAdjustment>
@{
    ViewData["Title"] = "Access Denied";
        }


<div class="text-lg-left">
    <h4 class="display">Unauthorized Access detected</h4>
    <p>User does not have required credentials to view this page</p>


    <div class="text-left">
        <img src="~/img/401.jpg" height="400"/>
    </div>
</div>

