<div class="testimonial-fold">
    <div class="container-7 w-container">
        <div class="w-layout-grid grid-15"><img
                src="~/images/theme/5f56120086488b80a13a804e_worldview-pic.png"
                id="w-node-_5bd0b48e-46e6-dddf-ab61-5d0b89b04a27-89b04a24" alt=""
                sizes="(max-width: 479px) 75vw, (max-width: 991px) 37vw, 363.3125px"
                srcset="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f56120086488b80a13a804e_worldview-pic-p-500.png 500w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f56120086488b80a13a804e_worldview-pic-p-800.png 800w"
                class="image-23">
            <div class="div-block-13"><img
                    src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eefbd425e4d80b9daa667fd_quote.svg"
                    alt="" class="image-38">
                <div class="text-block-6">It's actually like sumHR has become a part of our company. They understand our
                    needs and remain available whenever needed. Their promptness with support is commendable.</div>
                <div data-w-id="5bd0b48e-46e6-dddf-ab61-5d0b89b04a2f" class="div-block-30">
                    <div class="text-block-7">Shruthi Reddy Sheri<br>Worldview</div><img
                        src="~/images/theme/5f56124e28bd4a4adccce6cd_Worldview%20-%20Primary%20Logo.png"
                        alt="" sizes="(max-width: 479px) 75vw, (max-width: 991px) 37vw, 363.3125px"
                        srcset="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f56124e28bd4a4adccce6cd_Worldview%20-%20Primary%20Logo-p-500.png 500w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f56124e28bd4a4adccce6cd_Worldview%20-%20Primary%20Logo-p-800.png 800w"
                        class="image-37">
                </div>
            </div>
        </div>
    </div>
</div>