@page
@model IndexModel
@{
    ViewData["Title"] = "HR Software";
}


<div class="first-fold"><div class="homepage-container w-container"><div class="w-layout-grid landing-grid"><div class="left-side"><h1 class="main-page-heading main">Break-free from HR chaos. Focus on People!</h1><h4 class="main-page-description">Don't let administrative mess, tedious HR processes, and lack of data hold your ambitions back. Become an HR hero and make a big impact.</h4><div data-w-id="dddc61f7-2fab-3a05-5865-390ad66c3afe" style="opacity:0" class="div-block-137"><a href="get-demo.html" class="get-demo-button landing-page-button w-button">Get a Demo</a><a href="#" class="lightbox-link w-inline-block w-lightbox"><div class="div-block-136"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/607554e56673b23eafeff89f_clapperboard 1.svg" loading="lazy" alt="" class="image-102"><div class="free-trial-link video">Watch a Video</div></div><script type="application/json" class="w-json">{
  "items": [
    {
      "type": "video",
      "originalUrl": "https://youtu.be/OGX5s_AqfPM",
      "url": "https://youtube.com/watch?v=OGX5s_AqfPM",
      "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FOGX5s_AqfPM%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DOGX5s_AqfPM&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FOGX5s_AqfPM%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>",
      "thumbnailUrl": "https://i.ytimg.com/vi/OGX5s_AqfPM/hqdefault.jpg",
      "width": 940,
      "height": 528
    }
  ]
}</script></a></div><div data-w-id="69380372-0f80-5cb3-17ab-cd506e3d6cd0" style="opacity:0" class="landing-page-secondary-action"><div class="main-page-description experience-margin">Experience it yourself.</div><a data-w-id="fefa6895-4c73-ea5e-f8ef-fd6f2906e379" href="https://signup.sumhr.net/" target="_blank" class="free-trial-link-block w-inline-block"><div class="free-trial-link">Start Free 7-day Trial</div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed93be2f81380e2ee4555fa_chevron-right.svg" alt="" class="image-19"></a></div></div><div class="right-side"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5efb3b1f418cf039196f4f93_hello-mask.svg" width="580" alt="" class="home-page-illus"></div></div></div></div>


<div id="come-here" class="second-fold"><div class="homepage-container homepage-smol w-container"><h1 class="product-heading logo">An HR Software trusted by companies around the world.</h1><div class="w-layout-grid grid-14"><div class="customer-logo-home"><img src="~/images/theme/60671b310c189c32c6704bab_karma-logo.png" alt="Karma Ayurveda uses sumHR HR Software" class="image-14-copy"></div><div class="customer-logo-home"><img src="~/images/theme/60631baf22842c59ead09b2b_cashkaro.png" sizes="100vw" srcset="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/60631baf22842c59ead09b2b_cashkaro-p-500.png 500w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/60631baf22842c59ead09b2b_cashkaro.png 630w" alt="CashKaro.com uses sumHR HR Software" class="image-14-copy"></div><div class="customer-logo-home"><img src="~/images/theme/60631b33b1103763db94c4a0_bright.png" alt="Bright Money uses sumHR HR Software" class="image-14-copy"></div><div class="customer-logo-home"><img src="~/images/theme/60631b44680fd72404e6eec4_xyxx.jpg" alt="XYXX Apparels uses sumHR HR Software" class="image-14-copy"></div><div class="customer-logo-home"><img src="~/images/theme/5f459bfc9cb5fc9669496047_InstantPay%20India%20Limited.png" alt="Instant Pay uses sumHR HR Software" class="image-14-copy"></div><div class="customer-logo-home"><img src="~/images/theme/5f459bd3ce6fc9ed2f4341b2_InnovationM%20Mobile%20_%20Web%20Technologies%20Pvt%20Ltd.png" alt="InnovationM uses sumHR HR Software" class="image-14-copy"></div><div class="customer-logo-home"><img src="~/images/theme/606719e134d4da44f3e5953c_ToneTag_Logo.png" alt="Tone Tag uses sumHR HR Software" class="image-14-copy"></div><div class="customer-logo-home"><img src="~/images/theme/606320f4680fd74e52e70f00_Chowgule%20Construction%20Chemicals%20Pvt%20Ltd.png" alt="Chowgule uses sumHR HR Software" class="image-14-copy"></div><div class="customer-logo-home"><img src="~/images/theme/606320bd68476059e1c65b89_Venkatsaienterprises%20Pvt%20Ltd.png" alt="VSEPL uses sumHR HR Software" class="image-14-copy"></div><div class="customer-logo-home"><img src="~/images/theme/5f4599a251b7fc1b8cd7aeee_EX2%20Solutions%20India%20Pvt%20Ltd.png" alt="EX uses sumHR HR Software" class="image-14-copy block-size"></div><div class="customer-logo-home"><img src="~/images/theme/60631b3cecfa7b2c797c2cd6_toyota-logo-vector.png" alt="Toyota Iraq uses sumHR HR Software" class="image-14-copy block-size"></div><div class="customer-logo-home"><img src="~/images/theme/6063218dd72e364fa06a1214_Glitch%20Media%20Pvt.%20Ltd..png" alt="Glitch Media uses sumHR HR Software" class="image-14-copy"></div><div class="customer-logo-home hide"><img src="~/images/theme/5f459a8f60497209397d2381_Freeset%20Bags%20and%20Apparel.png" alt="FreeSet uses sumHR HR Software" class="image-14-copy"></div><div class="customer-logo-home hide"><img src="~/images/theme/5f459ea7944fd8202e33a1ba_Orane%20International%20Pvt%20ltd.png" alt="Orane International uses sumHR HR Software" class="image-14-copy"></div><div class="customer-logo-home hide"><img src="~/images/theme/5f459c3d667691796970dffb_Jobsforher.png" alt="Jobs For Her uses sumHR HR Software" class="image-14-copy"></div><div class="customer-logo-home hide"><img src="~/images/theme/60671aa396eac5a992537cd5_jasper-collin.png" alt="Jasper Colin uses sumHR HR Software" class="image-14-copy"></div><div class="customer-logo-home hide"><img src="~/images/theme/5f459c4723e4b1e0632ca620_JOHARI%20DIGITAL%20HEALTHCARE%20LTD.png" alt="Johani uses sumHR HR Software" class="image-14-copy"></div><div class="customer-logo-home hide"><img src="~/images/theme/60632bf8602271734e5ffb05_AVA%20Lifestyle%20Products%20%26%20Services%20Pvt%20Ltd.jpg" alt="AVA Lifestyle uses sumHR HR Software" class="image-14-copy block-size"></div><div class="customer-logo-home hide"><img src="~/images/theme/5f0c402ab048990c030a8f28_CRACKVERBAL%20EDUTECH%20PVT.%20LTD.png" alt="Crack Verbal uses sumHR HR Software" class="image-14-copy"></div><div class="customer-logo-home hide"><img src="~/images/theme/60632c75fc8c3a4f83b20b8d_Robinsons%20Global%20Logistics%20Solutions.png" alt="RGL uses sumHR HR Software" class="image-14-copy"></div><div class="customer-logo-home hide"><img src="~/images/theme/5f459c29b0576e4b81c3d8bd_J.R.%20Laddha%20Financial%20Services%20Pvt.%20Ltd..png" alt="JRL uses sumHR HR Software" class="image-14-copy"></div><div class="customer-logo-home hide"><img src="~/images/theme/5f0c3e126632f7ea6b652393_CloudCover%20Consultancy%20Pvt.%20Ltd..png" alt="" class="image-14-copy"></div><div class="customer-logo-home hide"><img src="~/images/theme/5f0c402a9ea997ea112a1a1d_Creed%20Infotech%20Pvt%20Ltd.png" alt="" class="image-14-copy"></div><div class="customer-logo-home hide"><img src="~/images/theme/6076cb14e8624780c7685bfe_Worldview.png" alt="" class="image-14-copy"></div><div class="customer-logo-home hide"><img src="~/images/theme/6076cc42ffe3753f20941a2b_accor.png" sizes="100vw" srcset="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/6076cc42ffe3753f20941a2b_accor-p-500.png 500w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/6076cc42ffe3753f20941a2b_accor.png 1184w" alt="" class="image-14-copy"></div><div class="customer-logo-home hide"><img src="~/images/theme/6076cceef11e3d4f53bc086d_ctl.png" alt="" class="image-14-copy"></div><div class="customer-logo-home hide"><img src="~/images/theme/5f0c3e1c63d9d845f5a17e62_Cloudsek.png" sizes="100vw" srcset="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f0c3e1c63d9d845f5a17e62_Cloudsek-p-500.png 500w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f0c3e1c63d9d845f5a17e62_Cloudsek-p-800.png 800w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f0c3e1c63d9d845f5a17e62_Cloudsek-p-1080.png 1080w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f0c3e1c63d9d845f5a17e62_Cloudsek-p-1600.png 1600w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f0c3e1c63d9d845f5a17e62_Cloudsek.png 1920w" alt="" class="image-14-copy"></div><div class="customer-logo-home hide"><img src="~/images/theme/5f0c302cba4f2648a854a2f6_AdLift%20Marketing%20Private%20Limited.png" alt="" class="image-14-copy"></div></div><a href="sumhr-case-studies.html" class="div-block-134 w-inline-block"><div class="text-block-111">Read all customer stories</div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606d8cda889cd6888f12cda7_arrow-right.svg" loading="lazy" alt="" class="image-101"></a></div></div>




<div class="third-fold-2"><div class="homepage-container-2 third w-container"><div data-animation="cross" data-easing="ease-in-sine" data-nav-spacing="20" data-duration="200" data-infinite="1" class="slider-2 w-slider"><div class="mask w-slider-mask"><div class="w-slide"><div class="product-label pink">HRIS</div><div class="viewfinder-hris"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5edabe10bd5e200d6a73b17b_hris-big.svg" alt="" class="viewfinder-element selected pink"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e51f20523c11aab877_track-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e4f93ea40a92da1006_pay-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e4c13ea489d3de166c_organise-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e3bd268b5c2be7dd9c_hr-ops-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e571313421e262c6dd_perform-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e5c93ece18e1354761_recruit-6p.svg" alt="" class="viewfinder-element"></div><div class="main-content"><div class="w-layout-grid product-grid-2"><div class="left-side product"><div class="product-name pink">HRIS</div><h2 class="product-heading-2">Digitize HR data, give power in the hands of employees</h2><div class="product-desc-2">Employee profiles, company directory, org-chart and more! We make it really easy for you to manage HR data with self-service options - on web or mobile - which ensure it's always up-to-date.</div><div class="w-layout-grid bullet-product-home-copy"><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef1c6bc2e3d24673971ab39_spark.svg" alt="" class="spark-bullet"><div class="bullet-text">Automatic reports</div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef1c6bc2e3d24673971ab39_spark.svg" alt="" class="spark-bullet"><div class="bullet-text">Flexible approval workflows</div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef1c6bc2e3d24673971ab39_spark.svg" alt="" class="spark-bullet"><div class="bullet-text"><div class="bullet-text">Customize data fields<br></div></div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef1c6bc2e3d24673971ab39_spark.svg" alt="" class="spark-bullet"><div class="bullet-text">Single-sign-on (SSO)</div></div></div><a href="hris.html" data-w-id="82a8fe77-2a82-1269-9e78-cd716c37fcdf" style="opacity:0" class="product-learn-more w-inline-block"><div class="free-trial-link">Learn more</div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed93be2f81380e2ee4555fa_chevron-right.svg" alt="" class="image-19"></a></div><div class="right-side"><div data-delay="3500" data-animation="cross" class="app-screens-slider-2 w-slider" data-autoplay="1" data-easing="ease-in-out" data-disable-swipe="1" data-nav-spacing="0" data-duration="500" data-infinite="1"><div class="w-slider-mask"><div class="slide w-slide"><img src="~/images/theme/5f637a845424f365e0e2074a_people-around-me.png" alt="" class="lofi-illus"></div><div class="slide w-slide"><img src="~/images/theme/5f637a9ae173fe1b33e7f05b_custom-fields.png" alt="" class="lofi-illus"></div></div><div class="left-arrow w-slider-arrow-left"><div class="w-icon-slider-left"></div></div><div class="right-arrow-5 w-slider-arrow-right"><div class="w-icon-slider-right"></div></div><div class="slide-nav w-slider-nav"></div></div></div></div></div></div><div class="w-slide"><div class="product-label purple">Pay</div><div class="viewfinder-hris"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e4713134eac362c6dc_hris-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e51f20523c11aab877_track-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5edabfe981168b8d518a1cef_pay-big.svg" alt="" class="viewfinder-element selected purple"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e4c13ea489d3de166c_organise-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e3bd268b5c2be7dd9c_hr-ops-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e571313421e262c6dd_perform-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e5c93ece18e1354761_recruit-6p.svg" alt="" class="viewfinder-element"></div><div class="main-content"><div class="w-layout-grid product-grid-2"><div class="left-side product"><div class="product-name purple"><strong>Payroll</strong><br></div><h2 class="product-heading-2">Run payroll in minutes, hassle free and always on time<br></h2><div class="product-desc-2">Make payroll stress-free with our robust and reliable processing engine which not only automates the calculations but also simplifies the complications, not just for you but for your employees too!</div><div class="w-layout-grid bullet-product-home-copy"><div id="w-node-e01702e0-bc31-26e2-dc8e-9cff85434c1e-dcd17dcd" class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f3ebf5d3fa9bf474163b802_spark-sample.svg" alt="" class="spark-bullet"><div class="bullet-text">Unlimited salary structures</div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f3ebf5d3fa9bf474163b802_spark-sample.svg" alt="" class="spark-bullet"><div class="bullet-text">Flexible Benefits Plan</div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f3ebf5d3fa9bf474163b802_spark-sample.svg" alt="" class="spark-bullet"><div class="bullet-text">IT declarations</div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f3ebf5d3fa9bf474163b802_spark-sample.svg" alt="" class="spark-bullet"><div class="bullet-text">Payroll Outsourcing</div></div></div><a href="payroll-software.html" data-w-id="82a8fe77-2a82-1269-9e78-cd716c37fd2f" class="product-learn-more w-inline-block"><div class="free-trial-link">Learn more</div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed93be2f81380e2ee4555fa_chevron-right.svg" alt="" class="image-19"></a></div><div class="right-side"><div data-delay="3500" data-animation="cross" class="app-screens-slider-2 w-slider" data-autoplay="1" data-easing="ease-in-out" data-disable-swipe="1" data-nav-spacing="0" data-duration="500" data-infinite="1"><div class="w-slider-mask"><div class="slide w-slide"><img src="~/images/theme/5f637ae343182bc92e2cfedc_pay-1.png" alt="" class="lofi-illus"></div><div class="slide w-slide"><img src="~/images/theme/5f637af07e9ee17f3f1e5524_expense.png" alt="" class="lofi-illus"></div></div><div class="left-arrow w-slider-arrow-left"><div class="w-icon-slider-left"></div></div><div class="right-arrow-5 w-slider-arrow-right"><div class="w-icon-slider-right"></div></div><div class="slide-nav w-slider-nav"></div></div></div></div></div></div><div class="w-slide"><div class="product-label blue">Track</div><div class="viewfinder-hris"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e4713134eac362c6dc_hris-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5edabfe97591040ecbd85a35_track-big.svg" alt="" class="viewfinder-element selected blue"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e4f93ea40a92da1006_pay-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e4c13ea489d3de166c_organise-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e3bd268b5c2be7dd9c_hr-ops-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e571313421e262c6dd_perform-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e5c93ece18e1354761_recruit-6p.svg" alt="" class="viewfinder-element"></div><div class="main-content"><div class="w-layout-grid product-grid-2"><div class="left-side product"><div class="product-name blue"><strong class="bold-text-3">Attendance</strong><br></div><h2 class="product-heading-2">Day or night, track employee time from any device<br></h2><div class="product-desc-2">Monitor attendance with web-biometric-mobile integrations that allow employees to clock-in or out from anywhere, and track time-off with a progressive and flexible leave policy system.</div><div class="w-layout-grid bullet-product-home-copy"><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef2c32ef911d39593e7fe45_spark.svg" alt="" class="spark-bullet"><div class="bullet-text">Shift planner</div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef2c32ef911d39593e7fe45_spark.svg" alt="" class="spark-bullet"><div class="bullet-text">Geo-tagging</div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef2c32ef911d39593e7fe45_spark.svg" alt="" class="spark-bullet"><div class="bullet-text">Clock-in methods (web, biometric, mobile)</div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef2c32ef911d39593e7fe45_spark.svg" alt="" class="spark-bullet"><div class="bullet-text">Policy management</div></div></div><a href="attendance-management-system.html" data-w-id="82a8fe77-2a82-1269-9e78-cd716c37fd06" class="product-learn-more w-inline-block"><div class="free-trial-link">Learn more</div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed93be2f81380e2ee4555fa_chevron-right.svg" alt="" class="image-19"></a></div><div class="right-side"><div data-delay="3500" data-animation="cross" class="app-screens-slider-2 w-slider" data-autoplay="1" data-easing="ease-in-out" data-disable-swipe="1" data-nav-spacing="0" data-duration="500" data-infinite="1"><div class="w-slider-mask"><div class="slide w-slide"><img src="~/images/theme/5f637aaee173fef7c3e7f061_attendance.png" alt="" class="lofi-illus"></div><div class="slide w-slide"><img src="~/images/theme/5f637ac1229006567644d3bf_leaves.png" alt="" class="lofi-illus"></div><div class="slide w-slide"><img src="~/images/theme/5f637ad13193c5e168b24f4a_start-end-time.png" alt="" class="lofi-illus"></div></div><div class="left-arrow w-slider-arrow-left"><div class="w-icon-slider-left"></div></div><div class="right-arrow-5 w-slider-arrow-right"><div class="w-icon-slider-right"></div></div><div class="slide-nav w-slider-nav"></div></div></div></div></div></div><div class="w-slide"><div class="product-label green">Perform</div><div class="viewfinder-hris"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e4713134eac362c6dc_hris-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e51f20523c11aab877_track-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e4f93ea40a92da1006_pay-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e4c13ea489d3de166c_organise-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e3bd268b5c2be7dd9c_hr-ops-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5edabfe975910476e0d85a33_perform-big.svg" alt="" class="viewfinder-element selected green"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e5c93ece18e1354761_recruit-6p.svg" alt="" class="viewfinder-element"></div><div class="main-content"><div class="w-layout-grid product-grid-2"><div class="left-side product"><div class="product-name green"><strong>Performance</strong><br></div><h2 class="product-heading-2">Strive for greatness and measure all-round progress<br></h2><div class="product-desc-2">Set ambitious objectives, define expected results and check-in to measure goals regularly. Design unique feedback forms, conduct 360° performance reviews and establish a fair appraisal system.</div><div class="w-layout-grid bullet-product-home-copy"><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee790c2403de190885282_spark copy.svg" alt="" class="spark-bullet"><div class="bullet-text">Multi-level OKRs</div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee790c2403de190885282_spark copy.svg" alt="" class="spark-bullet"><div class="bullet-text">Flexible feedback forms<br></div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee790c2403de190885282_spark copy.svg" alt="" class="spark-bullet"><div class="bullet-text">360-degree feedback</div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee790c2403de190885282_spark copy.svg" alt="" class="spark-bullet"><div class="bullet-text">KRAs/KPIs<a href="https://sumhr.webflow.io/performance-management-software"><br></a></div></div></div><a href="performance-management-software.html" data-w-id="82a8fe77-2a82-1269-9e78-cd716c37fda2" class="product-learn-more w-inline-block"><div class="free-trial-link">Learn more</div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed93be2f81380e2ee4555fa_chevron-right.svg" alt="" class="image-19"></a></div><div class="right-side"><div data-delay="3500" data-animation="cross" class="app-screens-slider-2 w-slider" data-autoplay="1" data-easing="ease-in-out" data-disable-swipe="1" data-nav-spacing="0" data-duration="500" data-infinite="1"><div class="w-slider-mask"><div class="slide w-slide"><img src="~/images/theme/5f637b54753da40c97d98341_360-graph.png" alt="" class="lofi-illus"></div><div class="slide w-slide"><img src="~/images/theme/5f637c007a7c20231e3ae8cd_okr-icons.png" alt="" class="lofi-illus"></div></div><div class="left-arrow w-slider-arrow-left"><div class="w-icon-slider-left"></div></div><div class="right-arrow-5 w-slider-arrow-right"><div class="w-icon-slider-right"></div></div><div class="slide-nav w-slider-nav"></div></div></div></div></div></div><div class="w-slide"><div class="product-label yellow">Organize</div><div class="viewfinder-hris"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e4713134eac362c6dc_hris-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e51f20523c11aab877_track-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e4f93ea40a92da1006_pay-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5edabfe94bc6a51b7b13de2d_organise-big.svg" alt="" class="viewfinder-element selected yellow"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e3bd268b5c2be7dd9c_hr-ops-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e571313421e262c6dd_perform-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e5c93ece18e1354761_recruit-6p.svg" alt="" class="viewfinder-element"></div><div class="main-content"><div class="w-layout-grid product-grid-2"><div class="left-side product"><div class="product-name yellow"><strong>Operations</strong><br></div><h2 class="product-heading-2">Go paperless with e-letters, HR drive, and an asset inventory<br></h2><div class="product-desc-2">Put aside the paperwork and generate online HR letters from ready made templates, store important docs on the built-in HR drive, and optimize utilization of your IT assets with a smart inventory.</div><div class="w-layout-grid bullet-product-home-copy"><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee792a97ec47440714f76_spark.svg" alt="" class="spark-bullet"><div class="bullet-text">Customize letter templates</div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee792a97ec47440714f76_spark.svg" alt="" class="spark-bullet"><div class="bullet-text">e-Signatures compatibility<br></div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee792a97ec47440714f76_spark.svg" alt="" class="spark-bullet"><div class="bullet-text">Store docs on HR drive<br></div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee792a97ec47440714f76_spark.svg" alt="" class="spark-bullet"><div class="bullet-text">IT asset management<a href="https://sumhr.webflow.io/organize"><br></a></div></div></div><a href="organize.html" data-w-id="82a8fe77-2a82-1269-9e78-cd716c37fd56" class="product-learn-more w-inline-block"><div class="free-trial-link">Learn more</div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed93be2f81380e2ee4555fa_chevron-right.svg" alt="" class="image-19"></a></div><div class="right-side"><div data-delay="3500" data-animation="cross" class="app-screens-slider-2 w-slider" data-autoplay="1" data-easing="ease-in-out" data-disable-swipe="1" data-nav-spacing="0" data-duration="500" data-infinite="1"><div class="w-slider-mask"><div class="slide w-slide"><img src="~/images/theme/5f637b011f179b5156bcb611_letter-box.png" alt="" class="lofi-illus"></div></div><div class="left-arrow w-slider-arrow-left"><div class="w-icon-slider-left"></div></div><div class="right-arrow-5 w-slider-arrow-right"><div class="w-icon-slider-right"></div></div><div class="slide-nav w-slider-nav"></div></div></div></div></div></div><div class="w-slide"><div class="product-label navy">Resolve</div><div class="viewfinder-hris"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e4713134eac362c6dc_hris-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e51f20523c11aab877_track-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e4f93ea40a92da1006_pay-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e4c13ea489d3de166c_organise-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5edabfe8bd5e20241c73bce9_hr-ops-big.svg" alt="" class="viewfinder-element selected navy"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e571313421e262c6dd_perform-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e5c93ece18e1354761_recruit-6p.svg" alt="" class="viewfinder-element"></div><div class="main-content"><div class="w-layout-grid product-grid-2"><div class="left-side"><div class="product-name navy"><strong>Onboarding</strong><br></div><h2 class="product-heading-2">From the first step to the last, be there for your employees.<br></h2><div class="product-desc-2">Provide smooth onboarding experiences with crisp checklists and interesting content. Make every policy easily accessible from a central repository. Setup helpdesks for prompt employee support.</div><div class="w-layout-grid bullet-product-home-copy"><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee79074e5c30afc375799_spark copy-1.svg" alt="" class="spark-bullet"><div class="bullet-text">Onboarding &amp; exit checklists<br></div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee79074e5c30afc375799_spark copy-1.svg" alt="" class="spark-bullet"><div class="bullet-text">Multi-purpose helpdesks<br></div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee79074e5c30afc375799_spark copy-1.svg" alt="" class="spark-bullet"><div class="bullet-text">Intelligent policy-maker<br></div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee79074e5c30afc375799_spark copy-1.svg" alt="" class="spark-bullet"><div class="bullet-text">Custom workflows<a href="https://sumhr.webflow.io/resolve"><br></a></div></div></div><a href="resolve.html" data-w-id="82a8fe77-2a82-1269-9e78-cd716c37fd7b" class="product-learn-more w-inline-block"><div class="free-trial-link">Learn more</div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed93be2f81380e2ee4555fa_chevron-right.svg" alt="" class="image-19"></a></div><div class="right-side"><div data-delay="3500" data-animation="cross" class="app-screens-slider-2 w-slider" data-autoplay="1" data-easing="ease-in-out" data-disable-swipe="1" data-nav-spacing="0" data-duration="500" data-infinite="1"><div class="w-slider-mask"><div class="slide w-slide"><img src="~/images/theme/5f637b2cb031d60a6f90b8b1_checklist.png" alt="" class="lofi-illus"></div><div class="slide w-slide"><img src="~/images/theme/5f637b3e99e7c5b3207209ca_leave-policy.png" alt="" class="lofi-illus"></div></div><div class="left-arrow w-slider-arrow-left"><div class="w-icon-slider-left"></div></div><div class="right-arrow-5 w-slider-arrow-right"><div class="w-icon-slider-right"></div></div><div class="slide-nav w-slider-nav"></div></div></div></div></div></div><div class="w-slide"><div class="product-label orange">Recruit</div><div class="viewfinder-hris"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e4713134eac362c6dc_hris-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e51f20523c11aab877_track-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e4f93ea40a92da1006_pay-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e4c13ea489d3de166c_organise-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e3bd268b5c2be7dd9c_hr-ops-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eea60e571313421e262c6dd_perform-6p.svg" alt="" class="viewfinder-element"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5edabfe92cbafc648e9abc2d_recruit-big.svg" alt="" class="viewfinder-element selected orange"></div><div class="main-content"><div class="w-layout-grid product-grid-2"><div class="left-side product"><div class="product-name orange"><strong>Recruit (Coming soon)</strong><br></div><h2 class="product-heading-2">Attract new talent to build a great team, success will follow<br></h2><div class="product-desc-2">Setup an impressive career site without any technical skills! Don't lose any CVs in your inbox, maintain your online talent pool. Create unique hiring stages and track applications on a Kanban pipeline.</div><div class="w-layout-grid bullet-product-home-copy"><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee79255da7c1658a21fc9_spark-1.svg" alt="" class="spark-bullet"><div class="bullet-text">Applicant tracking System<br></div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee79255da7c1658a21fc9_spark-1.svg" alt="" class="spark-bullet"><div class="bullet-text">Custom Recruitment configurations<br></div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee79255da7c1658a21fc9_spark-1.svg" alt="" class="spark-bullet"><div class="bullet-text">Streamline job requisitions<br></div></div><div class="bullet-points"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee79255da7c1658a21fc9_spark-1.svg" alt="" class="spark-bullet"><div class="bullet-text">Applicant Relationship Management<a href="https://sumhr.webflow.io/recruit"><br></a></div></div></div><a href="recruit.html" data-w-id="82a8fe77-2a82-1269-9e78-cd716c37fdc9" class="product-learn-more w-inline-block"><div class="free-trial-link">Learn more</div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed93be2f81380e2ee4555fa_chevron-right.svg" alt="" class="image-19"></a></div><div class="right-side"><div data-delay="4000" data-animation="cross" class="app-screens-slider-2 w-slider" data-autoplay="1" data-easing="ease-in-out" data-disable-swipe="1" data-nav-spacing="0" data-duration="500" data-infinite="1"><div class="w-slider-mask"><div class="slide w-slide"><img src="~/images/theme/5f637c244375f2b6cf73ea44_recruit-new-apps.png" alt="" class="lofi-illus"></div><div class="slide w-slide"><img src="~/images/theme/5f637c3574f4ed74841ab51b_career-page-benefits.png" alt="" class="lofi-illus"></div><div class="slide w-slide"><img src="~/images/theme/5f637c45138d0b627d45c7e7_career-card.png" alt="" class="lofi-illus"></div></div><div class="left-arrow w-slider-arrow-left"><div class="w-icon-slider-left"></div></div><div class="right-arrow-5 w-slider-arrow-right"><div class="w-icon-slider-right"></div></div><div class="slide-nav w-slider-nav"></div></div></div></div></div></div></div><div class="arrow-link w-slider-arrow-left"><div class="arrow w-icon-slider-left"></div></div><div class="arrow-link right w-slider-arrow-right"><div class="arrow w-icon-slider-right"></div></div><div id="product-slider-nav" class="slide-nav-2 w-slider-nav w-round"></div></div></div></div>

<div class="second-plus-fold">
    <div class="homepage-container homepage-smol w-container">
        <h1 class="main-page-heading second-plus-header prod">All your HR needs, in one HR Software.</h1>
        <div data-duration-in="300" data-duration-out="100" data-easing="ease-in-out" class="tabs-2 w-tabs">
            <div class="tabs-menu-4 w-tab-menu"><a data-w-tab="Tab 1" class="tab-hris w-inline-block w-tab-link"><img
                        src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed788c328ae86691e93d47b_hris.svg"
                        loading="lazy" alt="" class="tab-icon">
                    <div>HRIS</div>
                </a><a data-w-tab="Tab 2" class="tab-pay w-inline-block w-tab-link"><img
                        src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed78f0b758b864ed0411d94_pay.svg"
                        loading="lazy" alt="" class="tab-icon">
                    <div>Payroll</div>
                </a><a data-w-tab="Tab 3" class="tab-attendance w-inline-block w-tab-link"><img
                        src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed789032b6ff33b7a154cee_attendance.svg"
                        loading="lazy" alt="" class="tab-icon">
                    <div>Attendance</div>
                </a><a data-w-tab="Tab 4" class="tab-perform w-inline-block w-tab-link"><img
                        src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed78f0c5e0209066b7732df_perform.svg"
                        loading="lazy" alt="" class="tab-icon">
                    <div>Performance</div>
                </a><a data-w-tab="Tab 5" class="tab-onboarding w-inline-block w-tab-link"><img
                        src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed78f0cbb03043ea99d619a_organise.svg"
                        loading="lazy" alt="" class="tab-icon">
                    <div>Operations</div>
                </a><a data-w-tab="Tab 6" class="tab-ops w-inline-block w-tab-link w--current"><img
                        src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed78f0b737ce9767e56267a_ops.svg"
                        loading="lazy" alt="" class="tab-icon">
                    <div>Onboarding</div>
                </a><a data-w-tab="Tab 7" class="tab-recruit w-inline-block w-tab-link"><img
                        src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed78f0cbb03044e8d9d619b_recruit.svg"
                        loading="lazy" alt="" class="tab-icon">
                    <div>Recruit</div>
                </a></div>
            <div class="w-tab-content">
                <div data-w-tab="Tab 1" class="w-tab-pane">
                    <div class="main-content">
                        <div class="w-layout-grid product-grid">
                            <div class="left-side product">
                                <div class="product-name pink">Manage your HR&nbsp;Information</div>
                                <h2 class="product-heading">Digitize HR data, give power in the hands of employees</h2>
                                <div class="product-desc">Employee profiles, company directory, org-chart and more! We
                                    make it really easy for you to manage HR data with self-service options - on web or
                                    mobile - which ensure it's always up-to-date.</div>
                                <div class="w-layout-grid bullet-product-home-copy">
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef1c6bc2e3d24673971ab39_spark.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Automated reports</div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef1c6bc2e3d24673971ab39_spark.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Flexible approval workflows</div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef1c6bc2e3d24673971ab39_spark.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">
                                            <div class="bullet-text">Customize data fields</div>
                                        </div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef1c6bc2e3d24673971ab39_spark.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Single-sign-on (SSO)</div>
                                    </div>
                                </div><a href="hris.html" class="product-learn-more w-inline-block">
                                    <div class="free-trial-link">Explore features</div><img
                                        src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed93be2f81380e2ee4555fa_chevron-right.svg"
                                        alt="" class="image-19">
                                </a>
                            </div>
                            <div class="right-side">
                                <div data-delay="3500" data-animation="cross" class="app-screens-slider w-slider"
                                    data-autoplay="1" data-easing="ease-in-out" data-disable-swipe="1"
                                    data-nav-spacing="0" data-duration="500" data-infinite="1">
                                    <div class="w-slider-mask">
                                        <div class="slide w-slide"><img
                                                src="~/images/theme/5f637a845424f365e0e2074a_people-around-me.png"
                                                alt="sumHR's HRIS Software" class="lofi-illus"></div>
                                        <div class="slide w-slide"><img
                                                src="~/images/theme/5f637a9ae173fe1b33e7f05b_custom-fields.png" alt=""
                                                class="lofi-illus"></div>
                                    </div>
                                    <div class="left-arrow w-slider-arrow-left">
                                        <div class="w-icon-slider-left"></div>
                                    </div>
                                    <div class="right-arrow w-slider-arrow-right">
                                        <div class="w-icon-slider-right"></div>
                                    </div>
                                    <div class="slide-nav w-slider-nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-tab="Tab 2" class="w-tab-pane">
                    <div class="main-content">
                        <div class="w-layout-grid product-grid">
                            <div class="left-side product">
                                <div class="product-name purple"><strong>Automate payroll &amp; expense
                                        claims</strong><br></div>
                                <h2 class="product-heading">Run payroll in minutes, hassle free and always on time<br>
                                </h2>
                                <div class="product-desc">Make payroll stress-free with our robust and reliable
                                    processing engine which not only automates the calculations but also simplifies the
                                    complications, not just for you but for your employees too!</div>
                                <div class="w-layout-grid bullet-product-home-copy">
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f3ebf5d3fa9bf474163b802_spark-sample.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Unlimited salary structures</div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f3ebf5d3fa9bf474163b802_spark-sample.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Flexible Benefits Plan</div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f3ebf5d3fa9bf474163b802_spark-sample.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">IT&nbsp;Declarations</div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f3ebf5d3fa9bf474163b802_spark-sample.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Payroll Outsourcing</div>
                                    </div>
                                </div><a href="payroll-software.html" class="product-learn-more w-inline-block">
                                    <div class="free-trial-link">Explore features</div><img
                                        src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed93be2f81380e2ee4555fa_chevron-right.svg"
                                        alt="" class="image-19">
                                </a>
                            </div>
                            <div class="right-side">
                                <div data-delay="3500" data-animation="cross" class="app-screens-slider w-slider"
                                    data-autoplay="1" data-easing="ease-in-out" data-disable-swipe="1"
                                    data-nav-spacing="0" data-duration="500" data-infinite="1">
                                    <div class="w-slider-mask">
                                        <div class="slide w-slide"><img
                                                src="~/images/theme/5f637ae343182bc92e2cfedc_pay-1.png"
                                                alt="sumHR's Payroll Software in India" class="lofi-illus"></div>
                                        <div class="slide w-slide"><img
                                                src="~/images/theme/5f637af07e9ee17f3f1e5524_expense.png" alt=""
                                                class="lofi-illus"></div>
                                    </div>
                                    <div class="left-arrow w-slider-arrow-left">
                                        <div class="w-icon-slider-left"></div>
                                    </div>
                                    <div class="right-arrow w-slider-arrow-right">
                                        <div class="w-icon-slider-right"></div>
                                    </div>
                                    <div class="slide-nav w-slider-nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-tab="Tab 3" class="w-tab-pane">
                    <div class="main-content">
                        <div class="w-layout-grid product-grid">
                            <div class="left-side product">
                                <div class="product-name blue"><strong class="bold-text-2">Track attendance &amp;
                                        time-off</strong><br></div>
                                <h2 class="product-heading">Day or night, track employee time from any device<br></h2>
                                <div class="product-desc">Monitor attendance with web-biometric-mobile integrations that
                                    allow employees to clock-in or out from anywhere, and track time-off with a
                                    progressive and flexible leave policy system.</div>
                                <div class="w-layout-grid bullet-product-home-copy">
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef2c32ef911d39593e7fe45_spark.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Shift planner</div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef2c32ef911d39593e7fe45_spark.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Geo-tagging</div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef2c32ef911d39593e7fe45_spark.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Clock-in methods (web, biometric, mobile)</div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef2c32ef911d39593e7fe45_spark.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Policy management</div>
                                    </div>
                                </div><a href="attendance-management-system.html"
                                    class="product-learn-more w-inline-block">
                                    <div class="free-trial-link">Explore features</div><img
                                        src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed93be2f81380e2ee4555fa_chevron-right.svg"
                                        alt="" class="image-19">
                                </a>
                            </div>
                            <div class="right-side">
                                <div data-delay="3500" data-animation="cross" class="app-screens-slider w-slider"
                                    data-autoplay="1" data-easing="ease-in-out" data-disable-swipe="1"
                                    data-nav-spacing="0" data-duration="500" data-infinite="1">
                                    <div class="w-slider-mask">
                                        <div class="slide w-slide"><img
                                                src="~/images/theme/5f637aaee173fef7c3e7f061_attendance.png"
                                                alt="sumHR's Attendance Management System" class="lofi-illus"></div>
                                        <div class="slide w-slide"><img
                                                src="~/images/theme/5f637ac1229006567644d3bf_leaves.png" alt=""
                                                class="lofi-illus"></div>
                                        <div class="slide w-slide"><img
                                                src="~/images/theme/5f637ad13193c5e168b24f4a_start-end-time.png" alt=""
                                                class="lofi-illus"></div>
                                    </div>
                                    <div class="left-arrow w-slider-arrow-left">
                                        <div class="w-icon-slider-left"></div>
                                    </div>
                                    <div class="right-arrow w-slider-arrow-right">
                                        <div class="w-icon-slider-right"></div>
                                    </div>
                                    <div class="slide-nav w-slider-nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-tab="Tab 4" class="w-tab-pane">
                    <div class="main-content">
                        <div class="w-layout-grid product-grid">
                            <div class="left-side product">
                                <div class="product-name green"><strong>Review performance &amp; OKRs</strong><br></div>
                                <h2 class="product-heading">Strive for greatness and measure all-round progress<br></h2>
                                <div class="product-desc">Set ambitious objectives, define expected results and check-in
                                    to measure goals regularly. Design unique feedback forms, conduct 360° performance
                                    reviews and establish a fair appraisal system.</div>
                                <div class="w-layout-grid bullet-product-home-copy">
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee790c2403de190885282_spark copy.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Multi-level OKRs</div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee790c2403de190885282_spark copy.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Flexible feedback forms</div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee790c2403de190885282_spark copy.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">360-degree feedback</div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee790c2403de190885282_spark copy.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">KRAs/KPIs </div>
                                    </div>
                                </div><a href="performance-management-software.html"
                                    class="product-learn-more w-inline-block">
                                    <div class="free-trial-link">Explore features</div><img
                                        src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed93be2f81380e2ee4555fa_chevron-right.svg"
                                        alt="" class="image-19">
                                </a>
                            </div>
                            <div class="right-side">
                                <div data-delay="3500" data-animation="cross" class="app-screens-slider w-slider"
                                    data-autoplay="1" data-easing="ease-in-out" data-disable-swipe="1"
                                    data-nav-spacing="0" data-duration="500" data-infinite="1">
                                    <div class="w-slider-mask">
                                        <div class="slide w-slide"><img
                                                src="~/images/theme/5f637b54753da40c97d98341_360-graph.png"
                                                alt="sumHR's Performance Management Software" class="lofi-illus"></div>
                                        <div class="slide w-slide"><img
                                                src="~/images/theme/5f637c007a7c20231e3ae8cd_okr-icons.png" alt=""
                                                class="lofi-illus"></div>
                                    </div>
                                    <div class="left-arrow w-slider-arrow-left">
                                        <div class="w-icon-slider-left"></div>
                                    </div>
                                    <div class="right-arrow w-slider-arrow-right">
                                        <div class="w-icon-slider-right"></div>
                                    </div>
                                    <div class="slide-nav w-slider-nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-tab="Tab 5" class="w-tab-pane">
                    <div class="main-content">
                        <div class="w-layout-grid product-grid">
                            <div class="left-side product">
                                <div class="product-name yellow"><strong>Organize HR operations</strong><br></div>
                                <h2 class="product-heading">Go paperless with e-letters, HR drive, and an asset
                                    inventory<br></h2>
                                <div class="product-desc">Put aside the paperwork and generate online HR letters from
                                    ready made templates, store important docs on the built-in HR drive, and optimize
                                    utilization of your IT assets with a smart inventory.</div>
                                <div class="w-layout-grid bullet-product-home-copy">
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee792a97ec47440714f76_spark.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Customize letter templates</div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee792a97ec47440714f76_spark.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">e-Signatures compatibility</div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee792a97ec47440714f76_spark.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Store docs on HR drive</div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee792a97ec47440714f76_spark.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">IT asset management</div>
                                    </div>
                                </div><a href="organize.html" class="product-learn-more w-inline-block">
                                    <div class="free-trial-link">Explore features</div><img
                                        src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed93be2f81380e2ee4555fa_chevron-right.svg"
                                        alt="" class="image-19">
                                </a>
                            </div>
                            <div class="right-side">
                                <div data-delay="3500" data-animation="cross" class="app-screens-slider w-slider"
                                    data-autoplay="1" data-easing="ease-in-out" data-disable-swipe="1"
                                    data-nav-spacing="0" data-duration="500" data-infinite="1">
                                    <div class="w-slider-mask">
                                        <div class="slide w-slide"><img
                                                src="~/images/theme/5f637b011f179b5156bcb611_letter-box.png"
                                                alt="sumHR's Operations Management Software" class="lofi-illus"></div>
                                    </div>
                                    <div class="left-arrow w-slider-arrow-left">
                                        <div class="w-icon-slider-left"></div>
                                    </div>
                                    <div class="right-arrow w-slider-arrow-right">
                                        <div class="w-icon-slider-right"></div>
                                    </div>
                                    <div class="slide-nav w-slider-nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-tab="Tab 6" class="w-tab-pane w--tab-active">
                    <div class="main-content">
                        <div class="w-layout-grid product-grid">
                            <div class="left-side">
                                <div class="product-name navy"><strong>Streamine HR processes</strong><br></div>
                                <h2 class="product-heading">From the first step to the last, be there for your
                                    employees.<br></h2>
                                <div class="product-desc">Provide smooth onboarding experiences with crisp checklists
                                    and interesting content. Make every policy easily accessible from a central
                                    repository. Setup helpdesks for prompt employee support.</div>
                                <div class="w-layout-grid bullet-product-home-copy">
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee79074e5c30afc375799_spark copy-1.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Onboarding &amp; exit checklists</div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee79074e5c30afc375799_spark copy-1.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Multi-purpose helpdesks</div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee79074e5c30afc375799_spark copy-1.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Intelligent policy-maker</div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee79074e5c30afc375799_spark copy-1.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Custom workflows</div>
                                    </div>
                                </div><a href="resolve.html" class="product-learn-more w-inline-block">
                                    <div class="free-trial-link">Explore features</div><img
                                        src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed93be2f81380e2ee4555fa_chevron-right.svg"
                                        alt="" class="image-19">
                                </a>
                            </div>
                            <div class="right-side">
                                <div data-delay="3500" data-animation="cross" class="app-screens-slider w-slider"
                                    data-autoplay="1" data-easing="ease-in-out" data-disable-swipe="1"
                                    data-nav-spacing="0" data-duration="500" data-infinite="1">
                                    <div class="w-slider-mask">
                                        <div class="slide w-slide"><img
                                                src="~/images/theme/5f637b2cb031d60a6f90b8b1_checklist.png"
                                                alt="sumHR's Onboarding Software" class="lofi-illus"></div>
                                        <div class="slide w-slide"><img
                                                src="~/images/theme/5f637b3e99e7c5b3207209ca_leave-policy.png" alt=""
                                                class="lofi-illus"></div>
                                    </div>
                                    <div class="left-arrow w-slider-arrow-left">
                                        <div class="w-icon-slider-left"></div>
                                    </div>
                                    <div class="right-arrow w-slider-arrow-right">
                                        <div class="w-icon-slider-right"></div>
                                    </div>
                                    <div class="slide-nav w-slider-nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-tab="Tab 7" class="w-tab-pane">
                    <div class="main-content">
                        <div class="w-layout-grid product-grid">
                            <div class="left-side product">
                                <div class="product-name orange"><strong>Recruit candidates and make
                                        careers</strong><br></div>
                                <div class="text-block-114">(Coming soon)</div>
                                <h2 class="product-heading">Attract new talent to build a great team, success will
                                    follow<br></h2>
                                <div class="product-desc">Setup an impressive career site without any technical skills!
                                    Don't lose any CVs in your inbox, maintain your online talent pool. Create unique
                                    hiring stages and track applications on a Kanban pipeline.</div>
                                <div class="w-layout-grid bullet-product-home-copy">
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee79255da7c1658a21fc9_spark-1.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Applicant tracking System </div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee79255da7c1658a21fc9_spark-1.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Custom Recruitment configurations</div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee79255da7c1658a21fc9_spark-1.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Streamline job requisitions</div>
                                    </div>
                                    <div class="bullet-points"><img
                                            src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606ee79255da7c1658a21fc9_spark-1.svg"
                                            alt="" class="spark-bullet">
                                        <div class="bullet-text">Applicant Relationship Management</div>
                                    </div>
                                </div><a href="recruit.html" class="product-learn-more w-inline-block">
                                    <div class="free-trial-link">Explore features</div><img
                                        src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed93be2f81380e2ee4555fa_chevron-right.svg"
                                        alt="" class="image-19">
                                </a>
                            </div>
                            <div class="right-side">
                                <div data-delay="4000" data-animation="cross" class="app-screens-slider w-slider"
                                    data-autoplay="1" data-easing="ease-in-out" data-disable-swipe="1"
                                    data-nav-spacing="0" data-duration="500" data-infinite="1">
                                    <div class="w-slider-mask">
                                        <div class="slide w-slide"><img
                                                src="~/images/theme/5f637c244375f2b6cf73ea44_recruit-new-apps.png"
                                                alt="" class="lofi-illus"></div>
                                        <div class="slide w-slide"><img
                                                src="~/images/theme/5f637c3574f4ed74841ab51b_career-page-benefits.png"
                                                alt="" class="lofi-illus"></div>
                                        <div class="slide w-slide"><img
                                                src="~/images/theme/5f637c45138d0b627d45c7e7_career-card.png" alt=""
                                                class="lofi-illus"></div>
                                    </div>
                                    <div class="left-arrow w-slider-arrow-left">
                                        <div class="w-icon-slider-left"></div>
                                    </div>
                                    <div class="right-arrow w-slider-arrow-right">
                                        <div class="w-icon-slider-right"></div>
                                    </div>
                                    <div class="slide-nav w-slider-nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-w-id="579b7a72-b314-2dd0-fb36-9bc8ab28e07f" style="opacity:0" class="div-block-15"><img
                src="~/images/theme/5f63979c07eef7150f286c0a_3col.png" data-w-id="abda0ef4-0874-cc11-b7cf-f4403e4b916d"
                sizes="100vw"
                srcset="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f63979c07eef7150f286c0a_3col-p-500.png 500w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f63979c07eef7150f286c0a_3col-p-800.png 800w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f63979c07eef7150f286c0a_3col.png 1366w"
                alt="" class="image-29"><img src="~/images/theme/5f6397b751dff9263f193be8_2col.png" sizes="100vw"
                srcset="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f6397b751dff9263f193be8_2col-p-500.png 500w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f6397b751dff9263f193be8_2col-p-800.png 800w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f6397b751dff9263f193be8_2col.png 1366w"
                alt="" class="image-30"></div>
    </div>
</div>




<div class="third-fold"><div class="homepage-container w-container"><h1 class="main-page-heading second-plus-header">Hear what our customers are saying!</h1><div class="div-block-131"><div class="home-testi-card"><div class="div-block-132"><img src="~/images/theme/5f3bb5dc3c8ce37722caea9a_worldview-sq.png" loading="lazy" alt="" class="home-test-card-img"><div class="div-block-133"><div class="home-test-card-name">Shruthi Reddy Sheri</div><div class="home-test-card-company">Worldview</div></div></div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606b2b5e16f374f1b0124d1d_left-quote.svg" loading="lazy" alt="" class="image-100"><div class="home-test-card-quote">They truly go above and beyond</div></div><div class="home-testi-card"><div class="div-block-132"><img src="~/images/theme/5f3bb5dc3c8ce3cc8ecaea95_Naffa-Innovations-sq.png" loading="lazy" alt="" class="home-test-card-img"><div class="div-block-133"><div class="home-test-card-name">Vinay Trivedi</div><div class="home-test-card-company">Naffa Innovations</div></div></div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606b2b5e16f374f1b0124d1d_left-quote.svg" loading="lazy" alt="" class="image-100"><div class="home-test-card-quote">Extension of my team</div></div><div class="home-testi-card"><div class="div-block-132"><img src="~/images/theme/5f3bb5dd3c8ce31fd8caea9c_Chowgule%20Construction.png" loading="lazy" alt="" class="home-test-card-img"><div class="div-block-133"><div class="home-test-card-name">Deepali Raut</div><div class="home-test-card-company">Chowgule</div></div></div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606b2b5e16f374f1b0124d1d_left-quote.svg" loading="lazy" alt="" class="image-100"><div class="home-test-card-quote">Big thumbs up as the top choice</div></div><div class="home-testi-card hide"><div class="div-block-132"><img src="~/images/theme/5f3bb5dd3c8ce3a0cecaea9e_maxxsolutions-sq.png" loading="lazy" alt="" class="home-test-card-img"><div class="div-block-133"><div class="home-test-card-name">Mayank Grover</div><div class="home-test-card-company">Maxxsolutions</div></div></div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606b2b5e16f374f1b0124d1d_left-quote.svg" loading="lazy" alt="" class="image-100"><div class="home-test-card-quote">Functionally strong &amp; integrated solution</div></div><div class="home-testi-card hide"><div class="div-block-132"><img src="~/images/theme/5f3bb5ebc58fd30e336fba4c_accorplus-sq.png" loading="lazy" alt="" class="home-test-card-img"><div class="div-block-133"><div class="home-test-card-name">Pooja Saini</div><div class="home-test-card-company">Accorplus</div></div></div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606b2b5e16f374f1b0124d1d_left-quote.svg" loading="lazy" alt="" class="image-100"><div class="home-test-card-quote">User-friendly interface &amp; effortless process</div></div><div class="home-testi-card hide"><div class="div-block-132"><img src="~/images/theme/5f3bb5dc3c8ce3178acaea98_actionedge.png" loading="lazy" alt="" class="home-test-card-img"><div class="div-block-133"><div class="home-test-card-name">Jenny David</div><div class="home-test-card-company">ActionEdge</div></div></div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606b2b5e16f374f1b0124d1d_left-quote.svg" loading="lazy" alt="" class="image-100"><div class="home-test-card-quote">Helping during times of pressure and panic</div></div></div><a href="customers-and-testimonials.html" class="div-block-134 test w-inline-block"><div class="text-block-111">Read all testimonials</div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606d8cda889cd6888f12cda7_arrow-right.svg" loading="lazy" alt="" class="image-101"></a></div></div>



<div class="fifth-fold"><div class="homepage-container fifth-container w-container"><div class="w-layout-grid cs-grid"><div id="w-node-_41aa63ba-b046-e33c-eb06-f9b34df0aa22-dcd17dcd" class="left-side cs"><div data-delay="4000" data-animation="outin" data-autoplay="1" data-easing="ease-in-out" data-duration="1000" data-infinite="1" class="cs-team-slider w-slider"><div class="w-slider-mask"><div class="w-slide"><img src="~/images/theme/6087f7bf316fb0db098c19a2_Group%2022.png" sizes="100vw" srcset="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/6087f7bf316fb0db098c19a2_Group%2022-p-500.png 500w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/6087f7bf316fb0db098c19a2_Group%2022-p-800.png 800w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/6087f7bf316fb0db098c19a2_Group%2022-p-1080.png 1080w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/6087f7bf316fb0db098c19a2_Group%2022.png 1728w" alt="" class="image-39"></div><div class="w-slide"><img src="~/images/theme/60645b73b13a6959e110de3d_cs-team-2.png" sizes="100vw" srcset="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/60645b73b13a6959e110de3d_cs-team-2-p-500.png 500w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/60645b73b13a6959e110de3d_cs-team-2-p-800.png 800w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/60645b73b13a6959e110de3d_cs-team-2-p-1080.png 1080w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/60645b73b13a6959e110de3d_cs-team-2.png 1712w" alt="" class="image-39"></div></div><div class="left-arrow-3 w-slider-arrow-left"><div class="w-icon-slider-left"></div></div><div class="right-arrow-3 w-slider-arrow-right"><div class="w-icon-slider-right"></div></div><div class="slide-nav-4 w-slider-nav w-round"></div></div></div><div id="w-node-_41aa63ba-b046-e33c-eb06-f9b34df0aa30-dcd17dcd" class="right-side cs"><h1 class="main-page-heading cs">In your team and by your side, from day one</h1><div class="main-page-description fifth-heading2">We are fast, fanatic and funny (we think) when it comes to supporting you. We believe that features will come and go, but it's how we make you feel that matters the most.</div><a href="scope-support-sumhr.html" class="div-block-134 test w-inline-block"><div class="text-block-111">We support your success</div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606d8cda889cd6888f12cda7_arrow-right.svg" loading="lazy" alt="" class="image-101"></a><a data-w-id="88c81814-d7e7-0eef-9c35-0e46d55c2a05" style="opacity:0" href="scope-support-sumhr.html" class="cs-learn-more w-inline-block"><div class="cs-learn-link">Learn more</div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed93be2f81380e2ee4555fa_chevron-right.svg" alt="" class="image-19"></a></div></div></div></div>


<div class="why-sumhr"><div class="homepage-container fifth-container w-container"><div class="w-layout-grid cs-grid"><div id="w-node-b732e1ce-4d2c-f76a-b51e-b3ea9feaee29-dcd17dcd" class="right-side cs"><h1 class="main-page-heading cs-copy">Why choose sumHR?</h1><div class="why-bullet-group"><div class="why-bullet"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606af5fbaf2d3ed912986fd6_window-paragraph.svg" loading="lazy" alt="" class="why-point-icon"><div class="why-point-text">No bulky spreadsheets, no complex formulas</div></div><div class="why-bullet"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606afa419a08b65fd055bfb1_tap-02.svg" loading="lazy" alt="" class="why-point-icon"><div class="why-point-text">Simple to understand, easy to use</div></div><div class="why-bullet"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606afa7da7e7821603375cd9_refund.svg" loading="lazy" alt="" class="why-point-icon"><div class="why-point-text">Pay as you go, use as you need</div></div><div class="why-bullet"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606afaa83013aa28bc0f628f_money-coins.svg" loading="lazy" alt="" class="why-point-icon"><div class="why-point-text">Payroll is simple, easy and enjoyable</div></div><div class="why-bullet"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606afae6af0a42097f2d3432_control-panel.svg" loading="lazy" alt="" class="why-point-icon"><div class="why-point-text">Send less emails, get more productivity</div></div><div class="why-bullet"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606afb00803cc3233bb330c3_face-woman.svg" loading="lazy" alt="" class="why-point-icon"><div class="why-point-text">Not just support, you get friends with expertise</div></div><div class="why-bullet"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606afb2673bd5e3d67c74ae9_padlock.svg" loading="lazy" alt="" class="why-point-icon"><div class="why-point-text">Safety of your data, and utmost privacy</div></div></div><a data-w-id="b732e1ce-4d2c-f76a-b51e-b3ea9feaee2e" style="opacity:0" href="scope-support-sumhr.html" class="cs-learn-more w-inline-block"><div class="cs-learn-link">Learn more</div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ed93be2f81380e2ee4555fa_chevron-right.svg" alt="" class="image-19"></a></div><div id="w-node-b732e1ce-4d2c-f76a-b51e-b3ea9feaee1d-dcd17dcd" class="left-side cs"><img src="~/images/theme/5ef0313d5e4d80856ba715e2_Group%2010.png" sizes="100vw" srcset="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef0313d5e4d80856ba715e2_Group%2010-p-500.png 500w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef0313d5e4d80856ba715e2_Group%2010-p-1600.png 1600w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef0313d5e4d80856ba715e2_Group%2010-p-2000.png 2000w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef0313d5e4d80856ba715e2_Group%2010.png 2054w" alt="" class="image-39"></div></div></div></div>




<div class="awards"><div class="homepage-container award w-container"><div class="main-page-description award-head"><em>Awarded 3 years in a row. Best rated HRMS in the market!</em><br></div><div class="w-layout-grid award-grid"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/6066eab81131828774d4d35e_award3.svg" loading="lazy" alt="" class="image-95"><img src="~/images/theme/6066eab904000844007bd247_award1.png" loading="lazy" alt="" class="image-95"><img src="~/images/theme/60707bd2e9bd7a26e9d8d644_Tending.png" loading="lazy" alt="" class="image-95"></div></div></div>


<div class="fourth-fold"><div class="container-11 w-container"><div data-w-id="642367df-1613-a7c2-06b0-d313b05de281" class="div-block-19"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/60645be6dbb59f299b7e6158_galaxy.svg" alt="" class="parallax-bg"></div><div data-w-id="8e2eab00-9fa2-f340-5fba-2e76591b8d99" style="opacity:0" class="div-block-31"><div class="text-block-11">Experience the HR journey, one your employees will remember</div><a href="employee-experience-platform.html" class="experience-journey-button smol w-button">Experience the Journey</a></div><div class="div-block-26"></div></div></div>


<div class="testimonial-fold"><div class="container-7 w-container"><div data-delay="4000" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-duration="300" data-infinite="1" class="slider w-slider"><div class="w-slider-mask"><div class="w-slide"><div class="w-layout-grid grid-15"><img src="~/images/theme/5eefbce0d97fc387508abbab_swati-testimonial-2.png" id="w-node-b44aa782-4f45-cb95-72a6-28cb8adfe0d6-dcd17dcd" sizes="(max-width: 479px) 100vw, (max-width: 767px) 48vw, (max-width: 991px) 36vw, 100vw" alt="" srcset="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eefbce0d97fc387508abbab_swati-testimonial-2-p-500.png 500w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eefbce0d97fc387508abbab_swati-testimonial-2-p-800.png 800w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eefbce0d97fc387508abbab_swati-testimonial-2.png 832w" class="image-23"><div class="div-block-13"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eefbd425e4d80b9daa667fd_quote.svg" alt="" class="image-38"><div class="text-block-6">We have had a wonderful experience since the time we began working with sumHR. It's a convenient, accurate and a cost effective HRM system, with reliable and prompt support.</div><div class="div-block-30"><div class="text-block-7">Swati Bhargava<br>‍Co-founder</div><img src="~/images/theme/5f637692e173fe76cce7e5ce_cashkaro-logo.png" alt="" class="image-37"></div></div></div></div><div class="w-slide"><div class="w-layout-grid grid-15"><img id="w-node-_9012531f-a891-0d26-42d8-7d6d1f64d894-dcd17dcd" src="~/images/theme/5f63aacc5caa0585e62b5825_aastha.png" alt="" class="image-23"><div class="div-block-13"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eefbd425e4d80b9daa667fd_quote.svg" alt="" class="image-38"><div class="text-block-6">I am a totally satisfied customer and very happy with the sumHR team. It's certainly the best HR software I've used until now. Their support response times are impressive, and the TAT on complex issues is great too.</div><div class="div-block-30"><div class="text-block-7">Aastha Sharma<br>4PL Consultancy</div><img src="~/images/theme/5f63abcafde4ae4f4079eb92_4pl-logo.png" alt="" class="image-37"></div></div></div></div><div class="w-slide"><div class="w-layout-grid grid-15"><img id="w-node-b259cb8d-ce81-2e2c-18b5-0614a585d3ef-dcd17dcd" sizes="(max-width: 479px) 100vw, (max-width: 767px) 48vw, (max-width: 991px) 36vw, 100vw" alt="" srcset="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f56156228bd4a4a77ccec55_chowgule-pic-p-500.png 500w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f56156228bd4a4a77ccec55_chowgule-pic-p-800.png 800w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f56156228bd4a4a77ccec55_chowgule-pic.png 832w" src="~/images/theme/5f56156228bd4a4a77ccec55_chowgule-pic.png" class="image-23"><div class="div-block-13"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eefbd425e4d80b9daa667fd_quote.svg" alt="" class="image-38"><div class="text-block-6">Even after 5 years, it's a wonderful experience using sumHR and our relationship continues to strengthen every year. It's a convenient, accurate and a cost effective HRM system, with reliable and prompt support.</div><div class="div-block-30"><div class="text-block-7">Deepali Raut<br>Chowgule Construction Chemicals</div><img src="~/images/theme/5f0c3dcfc99ebf4828cb71a4_Chowgule%20Construction%20Chemicals%20Pvt%20Ltd.png" alt="" class="image-37"></div></div></div></div><div class="w-slide"><div class="w-layout-grid grid-15"><img id="w-node-a5ca242b-9549-ee7f-c3bb-7ebfee74d7b3-dcd17dcd" sizes="(max-width: 479px) 100vw, (max-width: 767px) 48vw, (max-width: 991px) 36vw, 100vw" alt="" srcset="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f56120086488b80a13a804e_worldview-pic-p-500.png 500w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f56120086488b80a13a804e_worldview-pic-p-800.png 800w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f56120086488b80a13a804e_worldview-pic.png 832w" src="~/images/theme/5f56120086488b80a13a804e_worldview-pic.png" class="image-23"><div class="div-block-13"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eefbd425e4d80b9daa667fd_quote.svg" alt="" class="image-38"><div class="text-block-6">It's actually like sumHR has become a part of our company. They understand our needs and remain available whenever needed. Their promptness with support is commendable.</div><div class="div-block-30"><div class="text-block-7">Shruthi Reddy Sheri<br>Worldview</div><img sizes="100vw" srcset="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f56124e28bd4a4adccce6cd_Worldview%20-%20Primary%20Logo-p-500.png 500w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f56124e28bd4a4adccce6cd_Worldview%20-%20Primary%20Logo-p-800.png 800w, https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5f56124e28bd4a4adccce6cd_Worldview%20-%20Primary%20Logo.PNG 1207w" alt="" src="~/images/theme/5f56124e28bd4a4adccce6cd_Worldview%20-%20Primary%20Logo.png" class="image-37"></div></div></div></div><div class="w-slide"><div class="w-layout-grid grid-15"><img id="w-node-_0b777ad9-1110-ec05-c0db-1f52865c1037-dcd17dcd" src="~/images/theme/5f64acdd718b78ca0babbf40_mayank.png" alt="" class="image-23"><div class="div-block-13"><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5eefbd425e4d80b9daa667fd_quote.svg" alt="" class="image-38"><div class="text-block-6">We are able to manage all our employee data and HR processes from one central place! This is really made work easier for us. This is a powerful solution coupled with a competent team, delivering payroll in record time.</div><div class="div-block-30"><div class="text-block-7">Mayank Grover<br>Maxxsolutions</div><img src="~/images/theme/5f64ad1450a79f1b25020491_maxx-solutions.png" alt="" class="image-37"></div></div></div></div></div><div class="left-arrow-6 w-slider-arrow-left"><div class="icon-5 w-icon-slider-left"></div></div><div class="right-arrow-6 w-slider-arrow-right"><div class="icon-6 w-icon-slider-right"></div></div><div class="slide-nav-7 w-slider-nav w-slider-nav-invert w-round"></div></div></div></div>




<div class="blog-section"><div class="homepage-container w-container"><h1 class="main-page-heading space">What's New In The World of HR?</h1><div class="collection-list-wrapper-6-copy w-dyn-list"><div role="list" class="w-dyn-items w-row"><div role="listitem" class="collection-item-9 w-dyn-item w-col w-col-6"><a href="blog/payroll-software-in-india.html" class="blog-post-home-copy w-inline-block"><div id="w-node-_5417ada8-47c8-360b-2e67-3e7ee05366b3-dcd17dcd" class="div-block-82-copy"><img loading="lazy" width="350" src="../assets.website-files.com/5ef5c908f55bc9b2c48a5cc2/608be13cee897a771b3b68c1_Blog%20Banners%20top%20payroll.png" alt="" class="image-86-copy"></div><div id="w-node-_5417ada8-47c8-360b-2e67-3e7ee05366b5-dcd17dcd" class="div-block-107-copy"><div class="feat-blog-title-home-copy truncate">Top 20 Best Payroll Software System in India for Small &amp; Medium Businesses</div><div data-w-id="434976f0-5f79-15ef-f49b-09e5b3fafb38" class="div-block-128"><div class="feat-blog-title click">Read the blog</div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef5084c11ed918502b38fc0_arrow-right.svg" loading="lazy" alt="" class="image-98"></div></div></a></div><div role="listitem" class="collection-item-9 w-dyn-item w-col w-col-6"><a href="blog/the-impact-of-covid-19-on-hr-software.html" class="blog-post-home-copy w-inline-block"><div id="w-node-_5417ada8-47c8-360b-2e67-3e7ee05366b3-dcd17dcd" class="div-block-82-copy"><img loading="lazy" width="350" src="../assets.website-files.com/5ef5c908f55bc9b2c48a5cc2/6086ca1c4b02a32304ef5b5a_Blog%20Banners%20111111.png" alt="" sizes="(max-width: 479px) 100vw, 350px" srcset="https://assets.website-files.com/5ef5c908f55bc9b2c48a5cc2/6086ca1c4b02a32304ef5b5a_Blog%20Banners%20111111-p-800.png 800w, https://assets.website-files.com/5ef5c908f55bc9b2c48a5cc2/6086ca1c4b02a32304ef5b5a_Blog%20Banners%20111111-p-1080.png 1080w, https://assets.website-files.com/5ef5c908f55bc9b2c48a5cc2/6086ca1c4b02a32304ef5b5a_Blog%20Banners%20111111-p-1600.png 1600w, https://assets.website-files.com/5ef5c908f55bc9b2c48a5cc2/6086ca1c4b02a32304ef5b5a_Blog%20Banners%20111111-p-2000.png 2000w, https://assets.website-files.com/5ef5c908f55bc9b2c48a5cc2/6086ca1c4b02a32304ef5b5a_Blog%20Banners%20111111.png 2240w" class="image-86-copy"></div><div id="w-node-_5417ada8-47c8-360b-2e67-3e7ee05366b5-dcd17dcd" class="div-block-107-copy"><div class="feat-blog-title-home-copy truncate">The impact of COVID-19 on HR Software. Accelerating Digital HR in 2021</div><div data-w-id="434976f0-5f79-15ef-f49b-09e5b3fafb38" class="div-block-128"><div class="feat-blog-title click">Read the blog</div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/5ef5084c11ed918502b38fc0_arrow-right.svg" loading="lazy" alt="" class="image-98"></div></div></a></div></div></div><a href="blog.html" class="div-block-134 test w-inline-block"><div class="text-block-111">Read our blogs</div><img src="https://assets.website-files.com/5ed4e18a5ade1a4d0cc87897/606d8cda889cd6888f12cda7_arrow-right.svg" loading="lazy" alt="" class="image-101"></a></div></div>







